Repository matrix-org/matrix-js-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @matrix-org/element-web-reviewers, @matrix-org/element-web-team, @matrix-org/element-call-reviewers, @matrix-org/element-crypto-web-reviewers

.github/CODEOWNERS:

*                         @matrix-org/element-web-reviewers
/.github/workflows/**     @matrix-org/element-web-team
/package.json             @matrix-org/element-web-team
/yarn.lock                @matrix-org/element-web-team
/src/webrtc               @matrix-org/element-call-reviewers
/src/matrixrtc               @matrix-org/element-call-reviewers
/spec/*/webrtc            @matrix-org/element-call-reviewers
/spec/*/matrixrtc            @matrix-org/element-call-reviewers

/src/crypto               @matrix-org/element-crypto-web-reviewers
/src/rust-crypto          @matrix-org/element-crypto-web-reviewers
/spec/integ/crypto        @matrix-org/element-crypto-web-reviewers
/spec/unit/crypto.spec.ts @matrix-org/element-crypto-web-reviewers
/spec/unit/crypto         @matrix-org/element-crypto-web-reviewers
/spec/unit/rust-crypto    @matrix-org/element-crypto-web-reviewers

refactor with ServerTimeSync
  src/matrixrtc/CallMembership.ts
  src/matrixrtc/MatrixRTCSession.ts
  src/server-time-sync.ts
Owners: @matrix-org/element-call-reviewers, @matrix-org/element-web-reviewers

temp
  spec/unit/matrixrtc/CallMembership.spec.ts
  src/matrixrtc/CallMembership.ts
  src/server-time-sync.ts
Owners: @matrix-org/element-call-reviewers, @matrix-org/element-web-reviewers

change priority order to favor expires
  src/matrixrtc/CallMembership.ts
Owners: @matrix-org/element-call-reviewers

Add expire_ts compatibility to matrixRTC (#4032)
  spec/unit/matrixrtc/CallMembership.spec.ts
  spec/unit/matrixrtc/MatrixRTCSession.spec.ts
  src/matrixrtc/CallMembership.ts
  src/matrixrtc/MatrixRTCSession.ts
Owners: @matrix-org/element-call-reviewers

apply changes from review
  spec/unit/rust-crypto/verification.spec.ts
Owners: @matrix-org/element-crypto-web-reviewers

WebR: migrate the megolm session imported flag
  src/rust-crypto/libolm_migration.ts
Owners: @matrix-org/element-crypto-web-reviewers

QR login: review, cleaning
  spec/unit/rendezvous/rendezvous.spec.ts
  src/rendezvous/MSC3906Rendezvous.ts
Owners: @matrix-org/element-web-reviewers

QR login | review: use getSafeUserId
  src/rendezvous/MSC3906Rendezvous.ts
Owners: @matrix-org/element-web-reviewers

Rebuild release automation to provide better introspection
  .github/workflows/release-action.yml
  .github/workflows/release-drafter-action.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  docs/SUMMARY.md
  docs/release.md
  package.json
Owners: @matrix-org/element-web-team, @matrix-org/element-web-reviewers

Sign in with QR (MSC3906) compatibility with Rust Crypto (#3761)
  spec/unit/rendezvous/rendezvous.spec.ts
  src/rendezvous/MSC3906Rendezvous.ts
Owners: @matrix-org/element-web-reviewers

Fix merge-release-notes.js
  .github/workflows/release-drafter-action.yml
  scripts/release/merge-release-notes.js
Owners: @matrix-org/element-web-team, @matrix-org/element-web-reviewers

Rename -action to -workflow to make linter happy
  .github/workflows/release-drafter-workflow.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release-workflow.yml
  .github/workflows/release.yml
Owners: @matrix-org/element-web-team
