Repository matrix-org/matrix-js-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @matrix-org/element-web-reviewers, @matrix-org/element-web-team, @matrix-org/element-call-reviewers

lint
  spec/unit/rust-crypto/verification.spec.ts
  src/rust-crypto/verification.ts
Owners: @matrix-org/element-web-reviewers

Fix type of parameter in mock
  spec/unit/rendezvous/rendezvous.spec.ts
Owners: @matrix-org/element-web-reviewers

Decrypt and Import full backups in chunk with progress
  spec/integ/crypto/megolm-backup.spec.ts
  spec/unit/rust-crypto/rust-crypto.spec.ts
  src/client.ts
  src/crypto-api.ts
  src/crypto/keybackup.ts
  src/rust-crypto/backup.ts
Owners: @matrix-org/element-web-reviewers

rust-crypto: allow reporting failures when restoring keys
  src/rust-crypto/backup.ts
Owners: @matrix-org/element-web-reviewers

Support optional MSC3860 redirects
  src/client.ts
  src/content-repo.ts
Owners: @matrix-org/element-web-reviewers

Update the tests
  spec/unit/content-repo.spec.ts
Owners: @matrix-org/element-web-reviewers

Appease the linter
  spec/unit/content-repo.spec.ts
Owners: @matrix-org/element-web-reviewers

Add test to appease SonarCloud
  spec/unit/matrix-client.spec.ts
Owners: @matrix-org/element-web-reviewers

backup chunk decryption jsdoc
  src/client.ts
Owners: @matrix-org/element-web-reviewers

Stop running react-sdk Cypress tests
  .github/workflows/downstream-artifacts.yml
  .github/workflows/downstream-end-to-end-tests.yml
  .github/workflows/sonarcloud.yml
Owners: @matrix-org/element-web-team

Stop running react-sdk Cypress tests (#4008)
  .github/workflows/downstream-artifacts.yml
  .github/workflows/downstream-end-to-end-tests.yml
  .github/workflows/sonarcloud.yml
Owners: @matrix-org/element-web-team

ISessionExtended -> SessionExtended
  src/crypto/store/base.ts
  src/crypto/store/indexeddb-crypto-store-backend.ts
  src/crypto/store/indexeddb-crypto-store.ts
  src/crypto/store/localStorage-crypto-store.ts
  src/crypto/store/memory-crypto-store.ts
Owners: @matrix-org/element-web-reviewers

Support for migration from from libolm (#3978)
  .prettierignore
  spec/integ/crypto/rust-crypto.spec.ts
  spec/test-utils/test_indexeddb_cryptostore_dump/README.md
  spec/test-utils/test_indexeddb_cryptostore_dump/index.ts
  spec/unit/crypto/store/CryptoStore.spec.ts
  spec/unit/rust-crypto/rust-crypto.spec.ts
  src/client.ts
  src/crypto/store/base.ts
  src/crypto/store/indexeddb-crypto-store-backend.ts
  src/crypto/store/indexeddb-crypto-store.ts
  src/crypto/store/localStorage-crypto-store.ts
  src/crypto/store/memory-crypto-store.ts
  src/rust-crypto/index.ts
  src/rust-crypto/libolm_migration.ts
Owners: @matrix-org/element-web-reviewers

Add `CryptoStore.countEndToEndInboundGroupSessions`
  spec/unit/crypto/store/CryptoStore.spec.ts
  src/crypto/store/base.ts
  src/crypto/store/indexeddb-crypto-store-backend.ts
  src/crypto/store/indexeddb-crypto-store.ts
  src/crypto/store/localStorage-crypto-store.ts
  src/crypto/store/memory-crypto-store.ts
Owners: @matrix-org/element-web-reviewers

Fix `CryptoStore.countEndToEndSessions`
  spec/unit/crypto/store/CryptoStore.spec.ts
  src/crypto/store/localStorage-crypto-store.ts
  src/crypto/store/memory-crypto-store.ts
Owners: @matrix-org/element-web-reviewers

Emit events to indicate migration progress
  spec/integ/crypto/rust-crypto.spec.ts
  spec/unit/rust-crypto/rust-crypto.spec.ts
  src/client.ts
  src/crypto/index.ts
  src/crypto/store/indexeddb-crypto-store-backend.ts
  src/rust-crypto/index.ts
  src/rust-crypto/libolm_migration.ts
Owners: @matrix-org/element-web-reviewers

Emit events during migration from libolm (#3982)
  spec/integ/crypto/rust-crypto.spec.ts
  spec/unit/crypto/store/CryptoStore.spec.ts
  spec/unit/rust-crypto/rust-crypto.spec.ts
  src/client.ts
  src/crypto/index.ts
  src/crypto/store/base.ts
  src/crypto/store/indexeddb-crypto-store-backend.ts
  src/crypto/store/indexeddb-crypto-store.ts
  src/crypto/store/localStorage-crypto-store.ts
  src/crypto/store/memory-crypto-store.ts
  src/rust-crypto/index.ts
  src/rust-crypto/libolm_migration.ts
Owners: @matrix-org/element-web-reviewers

Fix new threads not appearing.
  src/models/room.ts
  src/models/thread.ts
Owners: @matrix-org/element-web-reviewers

Don't recreate the event when we update
  spec/integ/matrix-client-event-timeline.spec.ts
  src/models/room.ts
Owners: @matrix-org/element-web-reviewers

v31.0.0
  CHANGELOG.md
  package.json
Owners: @matrix-org/element-web-reviewers, @matrix-org/element-web-team

Resetting package fields for development
  package.json
Owners: @matrix-org/element-web-team

Hopefully make sonarcloud happy
  src/models/thread.ts
Owners: @matrix-org/element-web-reviewers

KeyBackup: Disable signalling remaining keys to upload count
  src/rust-crypto/backup.ts
Owners: @matrix-org/element-web-reviewers

Use actions/download-artifact@v4 for workflow_run
  .github/workflows/docs-pr-netlify.yaml
  .github/workflows/sonarcloud.yml
  .github/workflows/static_analysis.yml
  .github/workflows/tests.yml
Owners: @matrix-org/element-web-team

Fix test covg artifacts
  .github/workflows/sonarcloud.yml
  .github/workflows/tests.yml
Owners: @matrix-org/element-web-team

fix typo
  .github/workflows/tests.yml
Owners: @matrix-org/element-web-team

Iterate
  .github/workflows/tests.yml
Owners: @matrix-org/element-web-team

.github/CODEOWNERS:

*                         @matrix-org/element-web-reviewers
/.github/workflows/**     @matrix-org/element-web-team
/package.json             @matrix-org/element-web-team
/yarn.lock                @matrix-org/element-web-team
/src/webrtc               @matrix-org/element-call-reviewers
/src/matrixrtc               @matrix-org/element-call-reviewers
/spec/*/webrtc            @matrix-org/element-call-reviewers
/spec/*/matrixrtc            @matrix-org/element-call-reviewers
