Repository matrix-org/matrix-js-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @matrix-org/element-web, @matrix-org/element-web-app-team, @matrix-org/element-call-reviewers

Rust: Query backup on fail to decrypt similar to libolm (#3711)
  spec/integ/crypto/megolm-backup.spec.ts
  spec/test-utils/test-data/generate-test-data.py
  spec/test-utils/test-utils.ts
  src/rust-crypto/rust-crypto.ts
Owners: @matrix-org/element-web

Cleanup, separate backup bootstrap and mgmt
  spec/integ/crypto/crypto.spec.ts
Owners: @matrix-org/element-web

fix non spec compliant account data format
  spec/integ/crypto/crypto.spec.ts
Owners: @matrix-org/element-web

Cleanup, separate backup bootstrap and mgmt (#3726)
  spec/integ/crypto/crypto.spec.ts
Owners: @matrix-org/element-web

Store leave state when knock is denied
  spec/unit/sync-accumulator.spec.ts
  src/store/indexeddb-local-backend.ts
  src/store/indexeddb-remote-backend.ts
  src/store/indexeddb-store-worker.ts
  src/store/indexeddb.ts
  src/sync-accumulator.ts
Owners: @matrix-org/element-web

Implement isSecretStorageReady in rust
  spec/integ/crypto/crypto.spec.ts
  spec/unit/rust-crypto/rust-crypto.spec.ts
  src/crypto/backup.ts
  src/rust-crypto/rust-crypto.ts
Owners: @matrix-org/element-web

Delete knocked room when knock request is cancelled or denied
  spec/unit/sync-accumulator.spec.ts
  src/store/indexeddb-local-backend.ts
  src/store/indexeddb-remote-backend.ts
  src/store/indexeddb-store-worker.ts
  src/store/indexeddb.ts
  src/sync-accumulator.ts
Owners: @matrix-org/element-web

add comments
  src/rust-crypto/rust-crypto.ts
Owners: @matrix-org/element-web

Add a unit test
  spec/unit/rust-crypto/rust-crypto.spec.ts
Owners: @matrix-org/element-web

Fix potential delay in sending out requests from the rust SDK (#3717)
  spec/unit/rust-crypto/rust-crypto.spec.ts
  src/rust-crypto/rust-crypto.ts
Owners: @matrix-org/element-web

rust impl of `getEncryptionInfoForEvent`
  spec/unit/rust-crypto/rust-crypto.spec.ts
  src/rust-crypto/rust-crypto.ts
Owners: @matrix-org/element-web

Test is updated
  spec/unit/sync-accumulator.spec.ts
Owners: @matrix-org/element-web

Implement exportCrossSigningKeysToStorage
  src/rust-crypto/CrossSigningIdentity.ts
Owners: @matrix-org/element-web

rust impl of `getEncryptionInfoForEvent` (#3718)
  spec/unit/rust-crypto/rust-crypto.spec.ts
  src/rust-crypto/rust-crypto.ts
Owners: @matrix-org/element-web

Delete knocked room when knock membership changes (#3729)
  spec/unit/sync-accumulator.spec.ts
  src/sync-accumulator.ts
Owners: @matrix-org/element-web

Element-R: use the pickleKey to encrypt the crypto store
  spec/unit/rust-crypto/rust-crypto.spec.ts
  src/client.ts
  src/rust-crypto/index.ts
Owners: @matrix-org/element-web

refactor extract common code to check 4S access
  spec/unit/rust-crypto/secret-storage.spec.ts
  src/rust-crypto/rust-crypto.ts
  src/rust-crypto/secret-storage.ts
Owners: @matrix-org/element-web

fix incomplete mocks
  spec/unit/rust-crypto/rust-crypto.spec.ts
Owners: @matrix-org/element-web

update tests
  spec/integ/crypto/rust-crypto.spec.ts
Owners: @matrix-org/element-web

Prepare changelog for v28.2.0-rc.1
  CHANGELOG.md
Owners: @matrix-org/element-web

v28.2.0-rc.1
  package.json
Owners: @matrix-org/element-web-app-team

fix bootstrap cross signing
  spec/unit/rust-crypto/CrossSigningIdentity.spec.ts
  src/rust-crypto/CrossSigningIdentity.ts
Owners: @matrix-org/element-web

Undeprecate `MatrixClient.getKeyBackupVersion`
  src/client.ts
Owners: @matrix-org/element-web

Sort imports in MatrixClient
  src/client.ts
Owners: @matrix-org/element-web

Sort imports in MatrixClient (#3734)
  src/client.ts
Owners: @matrix-org/element-web

Undeprecate `MatrixClient.getKeyBackupVersion` (#3733)
  src/client.ts
Owners: @matrix-org/element-web

fix copyright
  spec/integ/matrix-client-syncing-errors.spec.ts
Owners: @matrix-org/element-web

fix tests, again
  spec/unit/rust-crypto/rust-crypto.spec.ts
Owners: @matrix-org/element-web

Element-R: use the pickleKey to encrypt the crypto store (#3732)
  spec/integ/crypto/rust-crypto.spec.ts
  spec/unit/rust-crypto/rust-crypto.spec.ts
  src/client.ts
  src/rust-crypto/index.ts
Owners: @matrix-org/element-web

code review
  spec/integ/crypto/crypto.spec.ts
  spec/unit/rust-crypto/rust-crypto.spec.ts
  spec/unit/rust-crypto/secret-storage.spec.ts
  src/rust-crypto/rust-crypto.ts
  src/rust-crypto/secret-storage.ts
Owners: @matrix-org/element-web

Remove keyId para from secretStorageCanAccessSecrets
  spec/unit/rust-crypto/rust-crypto.spec.ts
  spec/unit/rust-crypto/secret-storage.spec.ts
  src/rust-crypto/rust-crypto.ts
  src/rust-crypto/secret-storage.ts
Owners: @matrix-org/element-web

use map instead of array
  spec/integ/crypto/crypto.spec.ts
Owners: @matrix-org/element-web

Stop keep alive, when sync was stoped (#3720)
  spec/integ/matrix-client-syncing-errors.spec.ts
  src/client.ts
  src/sync.ts
Owners: @matrix-org/element-web

Fix the message for messages from unknown devices
  spec/unit/crypto.spec.ts
  src/crypto/index.ts
  src/rust-crypto/rust-crypto.ts
Owners: @matrix-org/element-web

code review
  spec/integ/crypto/crypto.spec.ts
  spec/unit/rust-crypto/secret-storage.spec.ts
  src/rust-crypto/rust-crypto.ts
Owners: @matrix-org/element-web

Fix the message for messages from unknown devices (#3743)
  spec/unit/crypto.spec.ts
  src/crypto/index.ts
  src/rust-crypto/rust-crypto.ts
Owners: @matrix-org/element-web

Implement isSecretStorageReady in rust (#3730)
  spec/integ/crypto/crypto.spec.ts
  spec/unit/rust-crypto/rust-crypto.spec.ts
  spec/unit/rust-crypto/secret-storage.spec.ts
  src/crypto/backup.ts
  src/rust-crypto/rust-crypto.ts
  src/rust-crypto/secret-storage.ts
Owners: @matrix-org/element-web

Add membershipID to call memberships
  src/matrixrtc/CallMembership.ts
  src/matrixrtc/MatrixRTCSession.ts
Owners: @matrix-org/element-call-reviewers

Fix test types
  spec/unit/matrixrtc/CallMembership.spec.ts
  spec/unit/matrixrtc/MatrixRTCSession.spec.ts
  spec/unit/matrixrtc/MatrixRTCSessionManager.spec.ts
Owners: @matrix-org/element-call-reviewers

Fix tests
  spec/unit/matrixrtc/MatrixRTCSession.spec.ts
Owners: @matrix-org/element-call-reviewers

.github/CODEOWNERS:

*                         @matrix-org/element-web
/.github/workflows/**     @matrix-org/element-web-app-team
/package.json             @matrix-org/element-web-app-team
/yarn.lock                @matrix-org/element-web-app-team
/src/webrtc               @matrix-org/element-call-reviewers
/src/matrixrtc               @matrix-org/element-call-reviewers
/spec/*/webrtc            @matrix-org/element-call-reviewers
/spec/*/matrixrtc            @matrix-org/element-call-reviewers
